<% include _layouts/header %>

<body>
  
  <p class="logo-title">FIE<span>SBS</span><p>
  <p class="index">شركة فايسبس هي اول شركة تسوق الكتروني في العراق تضم الشركة الشركة جميع المنتجات
  الامريكية يمكنك شراء (سيارات - قطع غيار - مواد تجميل - ملابس - اكسسوارات نسائية ورجالية - اجهزة الكترونية - اثاث منزلي
   - واغلب المنتجات الامريكية) حيث يمكنك شراء كل شيئ و انت في منزلك و الطلب يصلك الى
   باب المنزل اين ما كنت داخل العراق و الدفع عند الاستلام , تسهل الشركة جميع مسلتزماتك فقط عليك الاختيار
   و الشراء.
   <br>
   <br>
   <span>المؤسس الرسمي للشركة : <span style="color: rgba(17,214,221);">سجاد </span><span style="color: rgba(2,54,73);">علي الدهان</span></span>
   <br>
   <span>المطور الرسمي للشركة : </span><span style="color: rgba(17,214,221)">محمد</span><span> ماجد عدنان</span>
   <br>
   <br>
   ان كنت احد اصحاب المتاجر في العراق و ترغب بعرض منتجاتك في متجرنا يمكنك التواصل
   معنا عبر المواقع الاتية
   <br></p>
  
</body>

<% include _layouts/footer %>